.navbar {
    background-color: #00115c;
}

#main {
    display: flex;
    padding: 0 10px 10px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 535px;
    background-image: url(../../Images/Algodoo/KGameX_Desktop.png);
    background-position: top -25px center;
    background-repeat: no-repeat;
    background-size: auto 400px;
}

.grid {
    margin: 10px 10px 0;
    display: grid;
    width: auto;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 10px;
}

.series, .games, .unmissables, .ranking {
    color: black;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 200px;
}

.series {
    background-image: url(../../Images/Algodoo/Series.svg), linear-gradient(135deg, #40a18a, #56b00c, #c7bb0e);
}

.games {
    background-image: url(../../Images/Algodoo/Games.svg), linear-gradient(135deg, #c7bb0e, #c43b3b, #b530b8);
}

.unmissables {
    background-image: url(../../Images/Algodoo/Unmissables.svg), linear-gradient(135deg, #b530b8, #3c7dc7, #1c8a5f);
}

.ranking {
    background-image: url(../../Images/Algodoo/Ranking.svg), linear-gradient(135deg, #1c8a5f, #40a18a, #56b00c);
}

.algodoo:hover {
    background-color: #e46c0a;
}