.navbar {
    background-color: #00115c;
    transition: all 0.15s ease-in-out;
}

.navbar.no-background {
    background: none;
}

header {
    height: 0;
}

#main {
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    height: 660px;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: url(/Images/KGameX_Hello.svg), url(/Images/KGameX_Gradient.jpg);
    background-size: 290px auto, 100% 100%;
    background-position: bottom -10px right 15%, center;
    background-repeat: no-repeat;
}

#social, #activities {
    text-align: center;
}

.swiper {
    margin: 10px;
    padding: 0;
    background: none;
    height: max-content;
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.swiper::-webkit-scrollbar {
    display:none;
}

.swiper-card {
    border-radius: 5px;
    background: white;
    width: 400px;
    height: content;
    box-sizing: border-box;
    text-align: center;
}

.swiper-image {
    border-radius: 5px;
    width: 400px;
    height: 450px;
}

.swiper-text {
    padding-bottom: 10px;
}

#image-algodoo {
    background-image: url("/Images/KGameX_Desktop.svg"), linear-gradient(135deg, #40a18a, #56b00c, #c7bb0e);
    background-size: auto 450px, auto;
    background-position: bottom -5px center, center;
    background-repeat: no-repeat;
}

#image-beat-saber {
    background-image: url("/Images/KGameX_Beat_Saber.svg"), linear-gradient(135deg, #d91041, #b22ba8, #5475da);
    background-size: auto 450px, auto;
    background-position: bottom -5px center, center;
    background-repeat: no-repeat;
}

#image-mario-kart {
    background-image: url("/Images/KGameX_Mario_Kart.svg"), linear-gradient(135deg, #32ffb1, #296dff, #fa35fd);
    background-size: auto 450px, auto;
    background-position: bottom -5px right -20px, center;
    background-repeat: no-repeat;
}

#image-geometry-dash {
    background-image: url("/Images/KGameX_Geometry_Dash.svg"), linear-gradient(135deg, #00ffff, #0000ff);
    background-size: auto 450px, auto;
    background-position: bottom -5px right -20px, center;
    background-repeat: no-repeat;
}

#image-projects {
    background-image: url("/Images/KGameX_Projects.svg"), linear-gradient(135deg, #c7bb0e, #c43b3b, #b530b8);
    background-size: auto 450px, auto;
    background-position: bottom -25px center, center;
    background-repeat: no-repeat;
}

.button.algodoo:hover {
    background-color: #e46c0a;
}

.button.beat-saber:hover {
    background-color: #288ed2;
}

.button.mario-kart:hover {
    background-color: #7e0df0;
}

.button.youtube:hover {
    background-color: #ff002f;
}

.button.facebook:hover {
    background-color: #4267b2;
}

.button.instagram:hover {
    background-color: #ff007f;
}

.button.twitter:hover {
    background-color: black;
}

.button.discord:hover {
    background-color: #5865f2;
}